body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: url("/coolgeorge1.png") #e0fbe0;
  background-size: 150px;
  width: 80%;
  margin: 0 auto;
  border: 1px dashed lightcyan;
}

.budget-badge {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
.budget-badge > h3,
.budget-badge > h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.gear {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  border: 1px solid white;
}

.gear:hover {
  border: 1px solid gray;
  cursor: pointer;
}

.budget-line {
}

#create-spend-save {
  background: white;
  border: 1px solid gray;
  padding: 5px;
}
